.destinations__content {
    padding-top: 40px;
    display: flex;
    gap: 60px;
}
.destinations__point {
    padding-top: 24px;
    gap: 10px;
    text-align: center;
}
.destinations__button {
    padding-top: 40px;
    text-align: center;
}

