.destinations__content {
    padding-top: 40px;
    display: flex;
    gap: 60px;
}
.destinations__point {
    padding-top: 24px;
    gap: 10px;
    text-align: center;
}
.destinations__button {
    display: flex;
    padding: 40px 0 80px;
    justify-content: center;
}
.ico {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
