.steps__container {
    padding: 80px 132px 97px;
}
.steps_title {
    text-align: center;
}
.steps__content {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.steps-icons_signature {
    padding-top: 30px;
    @include font ($size: 20px, $height: 24px);
    color: $color-main;
}
.icons__box {
    text-align: center;
}