@font-face {
    font-family: 'Aleo';
    src: url(./Aleo/Aleo-Bold.ttf);
    src: url(./Aleo/Aleo-BoldItalic.ttf);
    src: url(./Aleo/Aleo-Italic.ttf);
    src: url(./Aleo/Aleo-Regular.ttf);
}
@font-face {
    font-family: 'Magra';
    src: url(./Magra/Magra-Bold.ttf);
}